[book]
title = "Writing Hypervisor in Zig"
authors = ["smallkirby"]
description = "Writing a baremetal hypervisor from scratch in Zig that can boot Linux"
language = "ja"
text-direction = "ltr"
multilingual = false
src = "src"

[build]
create-missing = false
build-dir = "book"
use-default-preprocessors = true
extra-watch-dirs = ["po"]

[output.html]
git-repository-url = "https://github.com/smallkirby/writing-hypervisor-in-zig"
additional-css = ["theme/pagetoc.css", "theme/custom.css"]
additional-js = ["theme/pagetoc.js", "theme/mermaid.min.js", "theme/mermaid-init.js"]
default-theme = "navy"
site-url = "/"
cname = "hv.smallkirby.com"
mathjax-support = true

[output.html.search]
enable = true
limit-results = 30
teaser-word-count = 30
use-boolean-and = false
boost-title = 2
boost-hierarchy = 1
boost-paragraph = 1
expand = true
heading-split-level = 3
copy-js = true

[output.html.print]
enable = false

[preprocessor.toc]
command = "mdbook-toc"
renderer = ["html"]

[preprocessor.callouts]

[preprocessor.codename]

[preprocessor.mermaid]
command = "mdbook-mermaid"

[preprocessor.gettext]
before = ["admonish", "mdbook-toc", "callouts"]
after = ["links"]
